body {
  font-family: Arial;
  text-align: center;
  background: #f2f2f2;
}

#map {
  width: 70%;
  height: 400px;
  float: left;
  margin-left: 5%;
}

#panel {
  width: 20%;
  height: 400px;
  overflow-y: auto;
  background: white;
  float: right;
  margin-right: 5%;
  padding: 10px;
  border-radius: 10px;
}

li {
  margin-bottom: 10px;
}
